body, html {
    background-color: hsl(0, 0%, 5%);
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    position: absolute;
    margin-inline: 200px;
    top: 50%;
    font-size: 4rem;
    transform: translateY(-50%);
}

* {
    color: white;
}

.spans {
    color: rgb(45, 126, 37);
}